<link rel='stylesheet' href='/stylesheets/header.css' />
<nav class="nav-masthead d-flex justify-content-end content-header fixed-top">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Features</a>
    <a class="nav-link" href="#">Contact</a>
</nav>

