
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <div class="backimage-1 responsive">
        <%- include('partials/header.ejs') -%>
        <div class="text-center">
            <main role="main">
                <div class="caption">
                    <h1 class="cover-heading align-middle">Ashley Eyelash</h1>
                    <div class="icon">
                        <i class="fab fa-facebook fa-2x"></i>
                        <i class="fab fa-instagram fa-2x"></i>
                        <i class="fab fa-snapchat fa-2x"></i>
                        <i class="fas fa-envelope fa-2x"></i>
                    </div>
                </div>  
            </main>
        </div>
    </div>
<div class="backimage-2 responsive">
        <%- include('partials/client.ejs') -%>
</div>
<div class="backimage-3 responsive">

</div>