
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <div class="backimage-1 responsive">
        <%- include('partials/header.ejs') -%>
        <div class="text-center">
            <main role="main" class="inner cover">
                <div class="caption">
                    <h1 class="cover-heading align-middle">Ashley Eyelash</h1>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-snapchat"></i>
                    <i class="fas fa-envelope"></i>
                </div>  
            </main>
        </div>
    </div>
<div class="backimage-2 responsive">

</div>
<div class="backimage-3 responsive">

</div>