.content-header a {
  color: black;
}
.nav-masthead .nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.3rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
@media (min-width: 48em) {
  .nav-masthead {
    float: right;
  }
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.cover {
  padding: 0 1.5rem;
}
